.community-container {
  display: flex;
  height: 100vh;
  background-color: #36393F;
  color: #fff;
  width: 100%;
}
  
.sidebar {
  flex: 0 0 250px;
  background-color: #202226;
  padding: 75px 10px;
}
  
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile h2 {
  display: flex;
  padding: 10px;
  font-size: 24px;
}
  
.channels h2 {
  font-size: 24px;
  color: #707070;
  margin-bottom: 10px;
}
  
.channels ul {
  list-style-type: none;
  padding: 0;
}
  
.channels li {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
  
.chat-window {
  flex: 1;
  padding: 100px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.messages {
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}
  
.message {
  display: flex;
  margin-bottom: 20px;
}
  
.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
  
.message-content {
  background-color: #707070;
  padding: 10px;
  border-radius: 10px;
}
  
.message-content h4 {
  margin: 0;
  color: white;
}
  
.message-input {
  margin-top: 20px;
  display: flex;
}
  
.message-input input {
  flex: 1;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #40444B;
  color: white;
}
  
.message-input button {
  padding: 10px 20px;
  background-color: #707070;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
  