.card {
    border: 1px solid #05050567;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.458);
    /* overflow: hidden; */
    max-width: 400px;
    margin-top: 100px;
    /* margin-left: 50px; */
  }
  
  .card-header {
    background-color: #00000068;
    padding: 16px;
    /* border-bottom: 1px solid #ddd; */
  }
  
  /* .card-body {} */
  
  .slider-container {
    margin-bottom: 26px;
  }
  