
.user-settings {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.099);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-settings h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-details {
  display: flex;
  align-items: center;
}

.avatar {
  flex: 0 0 auto;
  margin-right: 20px;
}

.avatar img,
.avatar svg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
  border: 2px solid black;
}

.info {
  flex: 1 1 auto;
}

.info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.info p strong {
  font-weight: bold;
}

.logout-button {
  background-color: rgb(49, 15, 15);
  border-radius: 16px;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: red;
}


@media (max-width: 600px) {
  .user-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    margin-bottom: 20px;
  }

  .info p {
    font-size: 16px;
  }
}
