.user-settings {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-settings h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  flex: 0 0 auto;
  margin-right: 20px;
}

.avatar img,
.avatar svg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
  border: 2px solid #333;
}

.info {
  flex: 1 1 auto;
}

.info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.info p strong {
  font-weight: bold;
}

.logout-button {
  background-color: #310f0f;
  border-radius: 16px;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 20px;
  color: #fff;
  transition: background-color 0.3s ease;
  border: none;
}

.logout-button:hover {
  background-color: red;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.update-form div {
  margin-bottom: 10px;
}

.update-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.update-form input[type="text"],
.update-form input[type="email"],
.update-form input[type="file"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.update-form button[type="submit"] {
  background-color: #310f0f;
  border-radius: 16px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
  border: none;
}

.update-form button[type="submit"]:hover {
  background-color: #5a1c1c;
}

@media (max-width: 600px) {
  .user-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    margin-bottom: 20px;
  }

  .info p {
    font-size: 16px;
  }
}
