@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:');

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
}

.navbar {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #1a1a1ab0;
    color: #f9f9f9;
    font-family: 'Poppins';
}

.navbar-title {
    text-align: center;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 9px 0;
}

.navbar-menu > button {
    color: #f0f0f0;
    text-decoration: none;
    padding: 9px;
    transition: all 0.3s;
    border-radius: 10px;
}

.navbar-menu > button:hover {
     color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #707070;
}

.navbar-menu > button.active {
    color: #fff; 
    background-color: rgba(191, 191, 191, 0.368);
}


.link-style {
    color: #f0f0f0;
    text-decoration: none;
    padding: 20px;
    transition: all 0.3s;
    border-radius: 10px;
}


@media only screen and (min-width: 600px) {
    .navbar {
        padding: 16px;
    }

    .navbar-menu {
        flex-direction: row;
    }
}
