@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Permanent+Marker&display=swap');
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --navbar-bg: rgba(255, 255, 255, 0.4); 
    --navbar-text-color: #000000;
    --button-bg-hover: #0000009a;
    --button-text-hover: #000000;
    --link-hover-color: #fd8888;
    --navbar-bg-overlay: rgba(255, 255, 255, 0.9);
    
}

[data-theme="dark"] {
    --background-color: #222222;
    --text-color: #ffffff;
    --navbar-bg: rgba(0, 0, 0, 0.4); 
    --navbar-text-color: #ffffff;
    --button-bg-hover: #ffffff83;
    --button-text-hover: #f7b4b4;
    --link-hover-color: #fd8888;
    --navbar-bg-overlay: rgba(0, 0, 0, 0.9);
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: 'Poppins', sans-serif;


}

button {
    border: none;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--navbar-bg);
    color: var(--navbar-text-color);
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
    background-image: url(./rose.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  
}

.navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.navbar-title {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    margin: 25px 0px 8px 0px;
    flex-grow: 1;
    background-image: url(./bg3.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 9px 0;
    flex-direction: row;
    font-family: "Playfair Display SC", serif;
    font-size: large;

}

.navbar-menu > button {
    color: var(--navbar-text-color);
    transition: all 0.3s ease;
    border-radius: 10px;
}

.navbar-menu > button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-hover);
}

.navbar-menu > button.active {
    background-color: rgba(83, 83, 83, 0.207);
}

.link-style {
    color: var(--navbar-text-color);
    text-decoration: none;
    padding: 20px;
    transition: all 0.3s;
    border-radius: 10px;
}

.link-style:hover {
    color: var(--link-hover-color);
}

.theme-toggle-button {
    border: 1px solid rgb(108, 107, 107);
    color: var(--navbar-text-color);
    font-size: 17px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.theme-toggle-button:hover {
    color: var(--link-hover-color);
}

.menu-toggle-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 35px;
}

.navbar-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--navbar-bg-overlay);
    background-image: url(./bg5.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    font-family: "Playfair Display SC", serif;
    font-size: large;
    
}

.navbar-overlay.open {
    max-height: 600px; 
}

.overlay-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.overlay-content .link-style:hover {
    color: var(--link-hover-color);
}

.overlay-content .link-style {
    color: var(--navbar-text-color);
    text-decoration: none;
    padding: 20px;
    transition: all 0.3s;
    border-radius: 10px;
}

.close-overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-menu {
        z-index: 999;
        display: none;
    }

    .menu-toggle-button {
        display: block;
    }
}
