.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
}

.footer-button:hover {
    background-color: #555;
    color: #f7b4b4;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.social-media-icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
    background-color: rgba(79, 92, 104, 0.304);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon:hover {
    color: #fd8888;
    background-color: #242424;
}

.footer-text {
    margin: 0;
    font-size: 14px;
}
