@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --footer-bg-color: rgba(255, 255, 255, 0.4); 
    --footer-text-color: #000000;
    --footer-button-bg-hover: #555;
    --footer-button-text-hover: #f7b4b4;
    --footer-social-icon-bg: rgba(79, 92, 104, 0.304);
    --footer-social-icon-hover-bg: #242424;
    --footer-social-icon-color: #000000;
    --footer-social-icon-hover-color: #fd8888;
    --footer-background-image: url('./bg9.png');
}

[data-theme="dark"] {
    --footer-bg-color: rgba(0, 0, 0, 0.4); 
    --footer-text-color: #ffffff;
    --footer-button-bg-hover: #555;
    --footer-button-text-hover: #f7b4b4;
    --footer-social-icon-bg: rgba(79, 92, 104, 0.304);
    --footer-social-icon-hover-bg: #242424;
    --footer-social-icon-color: #ffffff;
    --footer-social-icon-hover-color: #fd8888;
    --footer-background-image: url('./bg9.png'); 
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 20px 0;
    text-align: center;
    background-image: var(--footer-background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.footer-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.footer-button {
    background: none;
    border: none;
    color: var(--footer-text-color);
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 5px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
    text-decoration: none;
}

.footer-button:hover {
    background-color: var(--footer-button-bg-hover);
    color: var(--footer-button-text-hover);
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.social-media-icon {
    color: var(--footer-social-icon-color);
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s, background-color 0.3s;
    background-color: var(--footer-social-icon-bg);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon:hover {
    color: var(--footer-social-icon-hover-color);
    background-color: var(--footer-social-icon-hover-bg);
}

.footer-text {
    margin: 0;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .footer-menu {
        align-items: center;
    }

    .footer-button {
        margin: 10px 0;
    }
}
