:root {
  --light-gradient: linear-gradient(270deg, #ffffff, #a0c4ff, #bdb2ff, #ffc6ff);
  --dark-gradient: linear-gradient(270deg, #0e1120, #1b1e36, #212659, #1b1e36);
}

@keyframes gradientBackgroundLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBackgroundDark {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background-light {
  background: var(--light-gradient);
  background-color: #ffffff; 
  background-size: 300% 300%; 
  animation: gradientBackgroundLight 20s ease-in-out infinite;
  min-height: 100vh;
  transform: translateZ(0);
}

.animated-background-dark {
  background: var(--dark-gradient);
  background-color: #0e1120; 
  background-size: 300% 300%; 
  animation: gradientBackgroundDark 20s ease-in-out infinite; 
  min-height: 100vh;
  transform: translateZ(0); 
}
