@keyframes gradientBackgroundLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBackgroundDark {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background-light {
  background: linear-gradient(270deg, #ffffff, #f0f0f0, #d4d4d4, #f0f0f0);
  background-color: #ffffff; 
  background-size: 400% 400%; 
  animation: gradientBackgroundLight 15s ease-in-out infinite;
  min-height: 100vh;
}

.animated-background-dark {
  background: linear-gradient(270deg, #0e1120, #1c1c1c, #363636, #1c1c1c);
  background-color: #0e1120; 
  background-size: 400% 400%; 
  animation: gradientBackgroundDark 15s ease-in-out infinite;
  min-height: 100vh;
}
